.icon-user ul, a{
    color: aliceblue;
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 10px;
    font-size: 18px;
}

a:hover {
    border-bottom: 3px solid hsl(0, 0%, 1%);
    transition: 0.1s;
}

.servicio {
    width: 80%;
    /* height: 125px; */
    margin: 3rem 14rem;
    font-size: 20px;
}

.boton {
    padding: 10px;
    margin: 10px;
    border: 1px rgba(11,194,211, 0.623)solid;
    border-radius: 5px;
}

.text-p {
    font-size: 10px;
    text-align: right;
    font-weight: bold;
    color: rgba(11,194,211, 0.623);
    border-radius: 5px;
    text-decoration: none;
}



